#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    overflow: visible;
    transition: all 1s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    color: white;
}

#loader video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(.5);
}

#content {
    animation: transIN 2s;
    display: none;
}

@keyframes transIN {
    from {
        opacity: 0;
        transform: translate(-10px);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

.wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    gap: 1rem;
}

.words span {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    color: white;
    font-style: italic;
    animation: spin_words 8s;
}

.words {
    overflow: hidden;
    height: 100%;
}

@keyframes spin_words {
    10% {
        transform: translateY(-112%);
    }

    25% {
        transform: translateY(-100%);
    }

    35% {
        transform: translateY(-212%);
    }

    50% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(-312%);
    }

    75% {
        transform: translateY(-300%);
    }

    85% {
        transform: translateY(-412%);
    }

    100% {
        transform: translateY(-400%);
    }
}

.spinner {
    height: 40px;
    width: 40px;
    border: 6px solid;
    border-color: white transparent white transparent;
    border-radius: 50%;
    animation: spin 1.3s linear infinite;

}

.loading {
    margin-top: auto;
    margin-bottom: 2rem;
    display: flex;
    position: relative;
    align-items: center;
    gap: 1rem;
}

.loading span {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}