header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;
    background-color: #2d2d2d57;
}

body {
    font-family: 'Poppins', sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    color: white;
}

nav ul {
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-weight: 500;
}

nav img {
    width: 22%;
}

main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-family: 'Poppins', sans-serif;
}