.bg {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    height: 130%;
    width: 130%;
}

.bg4 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130%;
    z-index: 2;
}

.bg3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130%;
    z-index: 3;
}

.bg2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130%;
    z-index: 4;
}

.bg1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130%;
    z-index: 5;
}

.vin {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 110;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65% rbga(0, 0, 0, 0.7));
}

.parallax-effect {
    pointer-events: none;
    transition: 0.45s cubic-bezier(.2, .49, .32, .99);
}

.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    z-index: 4;
    transform: translate(-50%, -50%);
    text-align: center;
    width: max-content;
}

.text h2 {
    font-weight: 200;
    font-size: 3rem;
}

.text h1 {
    font-weight: 600;
    font-size: 4.5rem;
}
.explore{
    position: absolute;
    z-index: 10;
    color: black;
    bottom: 4rem;
    left: 43%;
    background: #2196F3;
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 12px 2rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.explore:hover{
    filter: invert(1);
}